/*
Plugin Name: EL-Gallery
Plugin URI: http://ericlowry.fr/
Description: An extremely simplistic gallery replacement plugin.
Version: 1.4.1
Author: Eric Lowry
Author URI: http://ericlowry.fr/
License: GPL2
*/

figure.el_gallery {
	overflow:hidden;
	width:100%;
}
figure.el_gallery .el_gallery-slideshow_wrapper .el_nav {
	display:none;
}
figure.el_gallery .el_gallery-slideshow_wrapper .el_nav a {
	position:absolute;
	top:0;
	height:100%;
	width:20%;
	transition:opacity .6s, filter .6s;
	opacity:0;
	filter:alpha(opacity=0);
	overflow:hidden;
	cursor:pointer;
	text-indent:-9999px;
	z-index:7;
}
figure.el_gallery .el_gallery-slideshow_wrapper .el_nav a:hover, figure.el_gallery .el_gallery-slideshow_wrapper .el_nav a:active {
	opacity:1;
	filter:alpha(opacity=100);
}
figure.el_gallery .el_gallery-slideshow_wrapper .el_nav a.el_nav-left {
	left:0;
	background:linear-gradient(to left, rgba(255,255,255,0), #fff);
}
figure.el_gallery .el_gallery-slideshow_wrapper .el_nav a.el_nav-left span {
	position:absolute;
	top:50%;
	left:10px;
	height:0;
	width:0;
	margin-top:-40px;
	border-top:40px solid transparent;
	border-bottom:40px solid transparent;
	border-right:40px solid rgba(0,0,0,.5);
}
figure.el_gallery .el_gallery-slideshow_wrapper.el_gallery_light .el_nav a.el_nav-left span {
	border-right:40px solid rgba(255,255,255,.6);
}
figure.el_gallery .el_gallery-slideshow_wrapper .el_nav a.el_nav-right {
	right:0;
	background:linear-gradient(to right, rgba(255,255,255,0), #fff);
}
figure.el_gallery .el_gallery-slideshow_wrapper .el_nav a.el_nav-right span {
	position:absolute;
	top:50%;
	right:10px;
	height:0;
	width:0;
	margin-top:-40px;
	border-top:40px solid transparent;
	border-bottom:40px solid transparent;
	border-left:40px solid rgba(0,0,0,.5);
}
figure.el_gallery .el_gallery-slideshow_wrapper.el_gallery_light .el_nav a.el_nav-right span {
	border-left:40px solid rgba(255,255,255,.6);
}
figure.el_gallery .el_gallery-slideshow_wrapper {
	display:block;
	position:relative;
	width:100%;
	height:250px;
	margin:10px 0;
	transition:height .3s;
}
figure.el_gallery .el_gallery-slideshow_wrapper .el_loading {
	position:absolute;
	top:50%;
	left:50%;
	font-size:117px;
	margin:-85px 0 0 -50px;
}
figure.el_gallery .el_gallery-slideshow_wrapper a.el_pause {
	display:none;
	position:absolute;
	top:50%;
	left:50%;
	margin:-25px 0 0 -25px;
    height:50px;
    width:50px;
    cursor:pointer;
    opacity:.2;
	filter:alpha(opacity=20);
	color:rgba(0,0,0,.8);
	font-size:30px;
	text-indent:0;
	text-align:center;
	line-height:50px;
	text-shadow:0 0 4px rgba(255,255,255,.5),  0 0 20px #FFF;
    z-index:7;
	overflow:visible;
}
figure.el_gallery .el_gallery-slideshow_wrapper.el_gallery_light a.el_pause {
	color:rgba(255,255,255,.8);
	text-shadow:0 0 4px rgba(0,0,0,.5), 0 0 20px #000;
}
figure.el_gallery .el_gallery-slideshow_wrapper:hover a.el_pause {
	display:block;
    opacity:.6;
	filter:alpha(opacity=60);
}
figure.el_gallery .el_gallery-slideshow_wrapper a.el_pause:hover, figure.el_gallery .el_gallery-slideshow_wrapper a.el_pause:focus {
    opacity:1;
	filter:alpha(opacity=100);
}
figure.el_gallery .el_gallery-slideshow_wrapper a.el_pause:active {
	transition:opacity .2s, filter .2s;
    opacity:.8;
	filter:alpha(opacity=80);
}
figure.el_gallery .el_gallery-slideshow_wrapper .el_nav.loading a {
	display:none;
}
figure.el_gallery .el_gallery-slideshow_wrapper img {
	display:none;
	position:absolute;
	top:0;
	left:0;
	margin: 0;
	padding: 0;
	width: 100%;
	transition: opacity 0s;
}

figure.el_gallery .el_gallery-slideshow_wrapper .el-stack {
	font-size:50%;
}
figure.el_gallery .el_gallery-slideshow_wrapper .el-stack .el-icons-stack-1x {
	font-size:60%;
	color:#fff;
	line-height:4.8em;
}

figure.el_gallery figcaption.el_gallery-thumbnails_wrapper {
	display:block;
	width:100%;
	margin:0 auto 10px;
}
figure.el_gallery figcaption.el_gallery-thumbnails_wrapper img {
	height:0;
	transition:opacity .6s, filter .6s;
	opacity:.4;
	filter:alpha(opacity=40);
	overflow:hidden;
	cursor:pointer;
}
figure.el_gallery figcaption.el_gallery-thumbnails_wrapper img.current, figure.el_gallery figcaption.el_gallery-thumbnails_wrapper img:hover, figure.el_gallery figcaption.el_gallery-thumbnails_wrapper img:active {
	opacity:.8;
	filter:alpha(opacity=80);
}
figure.el_gallery figcaption.el_gallery-thumbnails_wrapper img:hover, figure.el_gallery figcaption.el_gallery-thumbnails_wrapper img:active {
	opacity:1;
	filter:alpha(opacity=100);
	box-shadow:1px 1px 4px #000;
}
figure.el_gallery figcaption.el_gallery-thumbnails_wrapper.el_gallery_light img:hover, figure.el_gallery figcaption.el_gallery-thumbnails_wrapper.el_gallery_light img:active {
	box-shadow:1px 1px 4px #fff;
}