/*
Plugin Name: EL-Gallery
Plugin URI: http://ericlowry.fr/
Description: An extremely simplistic gallery replacement plugin.
Version: 1.4.1
Author: Eric Lowry
Author URI: http://ericlowry.fr/
License: GPL2
*/

.el-gallery_option + hr {
	clear:both;
}
.el-gallery_option label, .el-gallery_option input {
	float:left;
	display:block;
	margin:5px 5px 5px 0;
}
.el-gallery_option input[type="checkbox"] {
	width:20px;
	margin-right:-25px;
	text-align:center;
}
.el-gallery_option input[type="radio"] {
	float:none;
	display:inline-block;
	margin-right:10px;
}
.el-gallery_option label {
	width:20%;
	min-width:80px;
	max-width:160px;
	font-weight:bold;
	margin-left:35px;
	cursor:default;
}
.el-gallery_option span {
	display:block;
}
.el-gallery_option span.div-align div {
	display:inline-block;
}
.el-admin_toggler i.el-admin_toggler_box {
	float:left;
	margin:5px 10px 5px 5px;
}
.el-admin_toggler label.el-admin_toggler_box {
	margin-left:0;
}
.el-admin_toggle {
	display:none;
	clear:both;
	margin-left:5%;
}
.el-admin_toggle .el-gallery_option {
	clear:both;
}
.el-gallery_option > span.div-align > div > i.el-icons {
	font-size:2em;
	vertical-align:middle;
}
.el-stack {
	display:inline-block !important;

}
.el-stack .el-icons-stack-1x {
	font-size:60%;
	color:#fff;
	line-height:4.8em;
}